@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Play', sans-serif;*/


body { 
    font-family: 'Noto Sans KR', sans-serif; font-size:15px; 
    background:#111; overflow: hidden; 
}

.wrap { 
    position:fixed; width:100%; height: 100%;
    perspective: 900px; overflow: hidden;
}

/*===== trigger btn =====*/
.btnMenu {
    position:fixed; left:40px; top:50px; width:30px; height:30px;
    font-size:32px; color: #f4f4f4; text-align:center; line-height: 30px;
    animation:aniBtn 0.4s infinite alternate; z-index:3;
}

@keyframes aniBtn {
    0% { color:#fff; transform: scale(1); opacity: 1; }
    100% { color:#777; transform: scale(1.15); opacity: 0.75;  }
}

/*===== navigation bar =====*/
nav {
    position: fixed; width:220px; height:100%;
    background:#0d4633; opacity: 0; z-index: 2;
    transform:rotate3d(0, 1, 0, 120deg); transform-origin: left center;
    transition:all 0.8s ease-in-out;
}
nav.on { transform:rotate3d(0, 1, 0, 15deg); opacity: 1; }
nav h1 { position:absolute; left:50%; top:80px; width:200px; margin-left:-100px; }
nav h1 img { width:100%; }
nav ul { position:absolute; left:0; top:35%; width:100%; padding:0; }
nav ul li { width:220px; }
nav ul li a {
    width:100%; 
    font-size:18px; color:#000; text-align:center; line-height:4em; 
}
nav ul li a:hover { color:#fff; background:#000; }


/*====== contents =====*/
section {
    position:fixed; width:100%; height:100%; background:#999;
    transition:all 0.6s ease-out 0.3s; transform-origin: right center;
}
section.on { transform:rotate3d(0, 1, 0, -10deg); }
section > div { 
    position: absolute; width:100%; height:100%; opacity:0; z-index:1;
    perspective:700px; transition: all 1.5s ease-in-out;
}
section > div > p { 
    float:left; width:25%; height:25%; margin:0; padding:0;
    text-align: center; overflow: hidden;
    transform: rotate3d(0,1,0,180deg); transition:all 1.5s ease-in-out;
}
section > div.on { opacity:1; z-index:2; }
section > div.on > p { transform: rotate3d(0,1,0,0deg); }

section > div > p > strong {
    position: absolute; left:0; top:50%; width:100%; margin-top: -35px;
    font-size:50px; color:#222; text-align:center; 
}
section > div > p > img { width:100%; height:100%; }
section > div > p > span {
    position: absolute; left:0; top:50%; width:100%; margin-top: -10px;
    font-size:20px; color:#333; text-align:center; 
}
section > div > p > video { width:100%; height:100%; background:#000; object-fit: cover; }



/*===== box1 =====*/
.box1 p { width:100%; height:100%;  }
.box1 video {  object-fit: cover; }

/*===== box2 =====*/
.box2 p:nth-child(1) { width:50%; background:#f1e2b4; }
.box2 p:nth-child(2) {  background:#ba835a;  }
.box2 p:nth-child(3) { 
    padding:0 100px;
    display: flex; justify-content: space-between;
    align-items: center;
    background:#f1e2b4; 
}
.box2 p:nth-child(4) { 
    float:right; width:50%; height:50%; background:#f26a25;
}
.box2 p:nth-child(5) { float:right; background:#074c43; }
.box2 p:nth-child(6) { float:right; background:#ba835a; }
.box2 p:nth-child(7) { float:right; }
.box2 p:nth-child(8) { float:right; background:#f1e2b4; }
.box2 p:nth-child(9) { width:50%;  background:#f26a25;  }
.box2 p:nth-child(10) { background: #0d4633; }
.box2 p:nth-child(11) { background:#ba835a; }

/*===== box2  animation =====*/
.box2 p:nth-child(2) img { position: absolute; left:0; top:-500px; }
.box2.on p:nth-child(2) img { animation:move1 1.5s alternate ease-in 1.5s forwards; }

.box2 p:nth-child(4) img { position: absolute; left:2000px; }
.box2.on p:nth-child(4) img { animation: move2 2.0s alternate ease-in 2.0s forwards; }

.box2 p:nth-child(5) img { position:absolute; left:0; top:0; opacity:0; }
.box2.on p:nth-child(5) img  {
    animation:fade1 5.5s ease-in alternate forwards;
}

.box2 p:nth-child(7) video { position:absolute; left:0; opacity: 0; }
.box2.on p:nth-child(7) video { 
    animation:fade2 7.0s ease-in alternate forwards;
}

.box2 p:nth-child(8) img { position: absolute; left:-2000px; }
.box2.on p:nth-child(8) img { animation: move3 2.5s alternate ease-in 2.5s forwards; }

.box2 p:nth-child(10) img { position: absolute; left:0; bottom:-2000px; }
.box2.on p:nth-child(10) img { animation: move4 3.0s alternate ease-in 3.0s forwards; }

@keyframes move1 {
    0% { top:-500px; }
    100% { top:0;  }
}

@keyframes move2 {
    0% { left:2000px; }
    100% { left:0; }
}

@keyframes move3 {
    0% { left:-2000px; }
    100% { left:0; }
}

@keyframes move4 {
    0% { bottom:-2000px }
    100% { bottom:0; }
}

@keyframes fade1 {
    0% { opacity:0; }

    100% { opacity: 1; }
}

@keyframes fade2 {
    0% { opacity:0; }
    100% { opacity:1; }
}

/*===== sns-btn=====*/
.box2 p:nth-child(3)  > a { font-size:34px;  }
.box2 p:nth-child(3)  > a i {transition: all 0.4s ease-in;}
.box2 p:nth-child(3)  > a > i { 
    color:#915f3e; opacity: 0.5;   }
.box2 p:nth-child(3)  > a > i:hover { transform:scale(1.3); opacity: 1; }


/*===== box3 =====*/
